{% extends 'energy/base.html' %}

{% block title  %}
    Юридические потребители
{% endblock %}

{% block content %}
    <script type= "text/javascript">
        function searchClick()
        {
            var url = document.getElementById('textSearch');
            var search = '';
            if (url.value){
                search = '?search=' + url.value;
            }
            document.location.search = search;
        }
    </script>
    <div class="row" style="margin:5px">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" id="textSearch" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" value="{{ search }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="btnSearch" onclick="searchClick()">Поиск</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div class="row" style="margin:5px">
        <div class="col-md-1 col-md-offset-10">
            <a href="{% url 'energy:consumer_add' %}">
                <button class="btn btn-success btn-xs">Добавить потребителя</button>
            </a>
        </div>
    </div>
    <div class="row">
        {% if consumers_list %}
            <table class="table text-center table-striped table-hover">
                <tr>
                    <th class="text-center">Лицевой счет</th>
                    <th class="text-center">Наименование</th>
                    <th class="text-center">Участок</th>
                    <th class="text-center">ИНН</th>
                </tr>
                <tbody>
                    {% for consumer in consumers_list %}
                        <tr>
                            <td><a href="{% url 'energy:consumer_detail' consumer.pk %}">{{ consumer.ls }}</a></td>
                            <td>{{ consumer.name }}</td>
                            <td>{{ consumer.production_area }}</td>
                            <td>{{ consumer.inn }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Записей нет</p>
        {% endif %}
    </div>
{% endblock %}