{% extends 'energy/base.html' %}

{% block title  %}
    Добавить потребителя
{% endblock %}

{% block content %}

    <p class="lead">Добавить потребителя</p>

    <form action="" method="post" class="form-horizontal" role="form">
        {% csrf_token %}

        {% for field in form %}
            {% if field.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group has-feedback">
            {% endif %}
                <label class="col-xs-2 control-label">{{ field.label }}</label>
                <div class="col-xs-10">{{ field }}</div>
            </div>
        {% endfor %}

        <input type="submit" value="Добавить" class="btn btn-default col-xs-1 col-xs-offset-11" />
    </form>

{% endblock %}