{% extends 'energy/base.html' %}

{% block title  %}
    {{ object }}
{% endblock %}

{% block content %}
    <p style="text-align: right">Расчетный период: <b>{{ period.title }}</b></p>

    <ul class="nav nav-tabs">
        <li><a href="#settings" data-toggle="tab">Общие</a></li>
        <li><a href="#meters" data-toggle="tab">Счетчики</a></li>
        <li class="active"><a href="#orums" data-toggle="tab">ОРУМ</a></li>
        <li><a href="#submeters" data-toggle="tab">Субсчетчики</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade" id="settings">
            <p>{{ object.ls }}</p>
            <p>{{ object.name }}</p>
        </div>
        <div class="tab-pane fade" id="meters">
{#            {{ object.production_area.power_grid_region.title }}#}
{#            {{ object.production_area.power_grid_region.current_period.title }}#}
{#            {% for point in points %}#}
{#                {% if point.get_orum.orum %}#}
{#                    <div>#}
{#                        {{ point }}: {{ point.get_orum.orum }}: {{ pk }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
        </div>
        <div class="tab-pane fade in active" id="orums">
            <table class="table text-center table-striped table-hover">
                <tr>
                    <th class="text-center">Точка учета</th>
                    <th class="text-center">Вид времени</th>
                    <th class="text-center">Мощность</th>
                    <th class="text-center">Коэф.</th>
                    <th class="text-center">Часы</th>
                    <th class="text-center">Время</th>
                    <th class="text-center">Корректировка</th>
                    <th class="text-center">Расход</th>
                    <th class="text-center">Действия</th>
                </tr>
                <tbody>
                    {% for data in points %}
                        <tr>
                            <td style="text-align: left"><input type="checkbox">&nbsp;&nbsp;{{ data.point }}</td>
                            <td>{{ data.orum.type }}</td>
                            <td>{{ data.setting.power|floatformat:"-3" }}</td>
                            <td>{{ data.setting.ratio|floatformat:"-3" }}</td>
                            <td>
                                {% if data.orum.type.formula == 3 %}
                                  {{ data.setting.hours }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if data.orum.type.formula != 1 %}
                                    <input name='date_use'
                                           type="text"
                                           value="{{ data.date_use }}"
                                           class="form-control"
                                           size="5"
                                           style="text-align: center"
                                           onchange='
                                                   $.post("{% url 'energy:test' %}",
                                                   {
                                                       csrfmiddlewaretoken: "{{ csrf_token }}",
                                                       orum: "{{ data.orum.pk }}",
                                                       period: "{{ period.pk }}",
                                                       date_use: this.value
                                                   }, function(data) {
                                                        var element="#orum_value_{{ data.orum.pk }}";
                                                        $(element).text(data);
                                                   });
                                                   '
                                            >
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ data.correction }}</td>
                            <td id='orum_value_{{ data.orum.pk }}'>{{ data.value }}</td>
                            <td>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default" title="Обновить"><span class="glyphicon glyphicon-refresh"></span></button>
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                 <span class="caret"></span>
                                 <span class="sr-only">Меню с переключением</span>
                                 </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Действие</a></li>
                                    <li><a href="#">Другое действие</a></li>
                                    <li><a href="#">Что-то иное</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Отдельная ссылка</a></li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="submeters">
{#            {{ object.production_area.power_grid_region.title }}#}
{#            {{ object.production_area.power_grid_region.current_period.title }}#}
{#            {% for point in points %}#}
{#                {% if point.get_orum.orum %}#}
{#                    <div>#}
{#                        {{ point }}: {{ point.get_orum.orum }}: {{ pk }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
        </div>
    </div>


{% endblock %}