{% extends 'energy/legals.html' %}

{% block title  %}
    {{ object }}
{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Детали' "energy:legal_detail" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    {% include 'energy/consumer_include_tabs.html' with legal=legal.pk detail=1 %}
    {% include 'energy/include_current_period.html' with title=period.title %}


    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                <form action="" method="post" class="form-horizontal" role="form">
                    <legend>Добавить потребителя</legend>
                    {% csrf_token %}
                    {% for field in form %}
                        {% include 'energy/form_consumer.html' with field=field %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <input type="submit" value="Добавить" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}